{# Vue qui correspond au module Panneau de config, partie Ajout d'un utilisateur #}

{% extends 'ROGERPlastProdBundle:PlastProd:index.html.twig' %}

{% block title %}
<title>Panneau de configuration - Ajout d'un utilisateur - PlastProd </title>
{% endblock %}

{% block actions %}
<h1> Indiquez les informations de l'utilisateur : </h1>
<div class="well">
{{ form(form) }}
</div>
{% endblock %}