{# Vue qui correspond au module Panneau de config, partie Ajout d'un utilisateur #}

{% extends 'ROGERPlastProdBundle:PlastProd:index.html.twig' %}


{% block title %}
<title>Panneau de configuration - Ajout d'un utilisateur - PlastProd </title>
{% endblock %}
{% block actions %}
{{ form(form) }}

{% for flashMessage in app.session.flashbag.get('userAdded') %}
	<div class = "flash_notice">
		{{ flashMessage }}
	</div>
{% endfor %}
{% endblock %}