{# Vue qui correspond au module Panneau de config, partie Gestion des droits #}

{% extends 'ROGERPlastProdBundle:PlastProd:index.html.twig' %}

{% block title %}
<title>Panneau de configuration - Gestion des droits - PlastProd </title>
{% endblock %}

{% block actions %}
<a class = "liens" href="{{ path('roger_plast_prod_config_droits_ajout') }}"><button class="cust_butt"><p>Ajouter un/des droit(s)</p></button></a>
<a class = "liens" href="{{ path('roger_plast_prod_config_droits_suppress') }}"><button class="cust_butt"><p>Supprimer un/des droit(s)  utilisateur(s)</p></button></a>
{% endblock %}