{# Vue qui correspond au module Panneau de config #}

{% extends 'ROGERPlastProdBundle:PlastProd:index.html.twig' %}

{% block title %}
<title>Panneau de configuration - PlastProd </title>
{% endblock %}

{% block actions %}
<div>
<p>Gérer les droits.</p>
<p>Gérer les accès.</p>
</div>
{% endblock %}