{# Vue qui correspond au module Panneau de config #}

{% extends 'ROGERPlastProdBundle:PlastProd:index.html.twig' %}

{% block title %}
<title>Panneau de configuration - PlastProd </title>
{% endblock %}

{% block actions %}
<a class="liens" href = "{{ path('roger_plast_prod_config_user')}}"><button class ="cust_butt_stocks"><p>Gérer les utilisateurs</p></button></a>
<a class="liens" href = "{{ path('roger_plast_prod_config_droits')}}"><button class ="cust_butt_stocks"><p>Gérer les droits</p></button></a>
{% endblock %}