/* Feuille de style de la vue principale ( vue qui sera sur toutes les pages du site)*/

@media screen and (max-width : 1980px) and (min-width : 1000px) and (min-height : 600px) and (max-height : 1080px)
{
	html, body
	{
		width : 100%;
	}
	.header
	{
		margin-left : 0%;
		height : 166px;
		width : 100%;
		background-color : #D0CEC9;
	}

	.content, .notifs
	{
		
		width : 33.3%;
		float : left;
		text-align : center;
		height: 100%;
	}
	
	.notifs p, .content p
	{
		font-family : Comic Sans MS ;
		font-size : 1.2em;
		color : White;
		margin-top : 0px;
		width : 100%;
		text-align : center;
	}
	
	.notifs p
	{
		line-height: 148px;
	}
	
	
	.logo
	{
		margin-left : 0%;
		padding-left : 15px;
		float : left;
		width : 33.3%;
		height : 100%;
	}
	
	
	.logo img
	{
		height : 100%;
	}
	
	.connexion
	{
		line-height: 148px;
		text-align:center;
	}
	
	.connexion span
	{
		width: 500px;
		display : inline-block;
		vertical-align : middle;
		line-height:normal;
		text-align : center;
	}
	
	
	.left-container
	{
		background-color : #F2893C;
		text-align : center;
		width : 175px;
		height: 900px;
		float : left;
	}
	
	.left-button
	{
		margin-top : 20%;
		font-size : 1.2em;
		font-family : Arial;
		width : 160px;
		height : 160px;
		background-color : #9D9C99;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		border-radius: 50%;
		border : none;
		color : #fff;
		margin-left : 7.5px;
		margin-right : 7.5px;
	}
	
	.left-button:hover
	{	
		margin-top : 20%;
		font-size : 1.3em;
		font-family : Arial;
		width : 165px;
		height : 165px;
		background-color : #9D9C99;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		border-radius: 50%;
		border : none;
		color : #fff;
		margin-left : 5px;
		margin-right : 5px;
		-moz-box-shadow: 2px 2px 5px 2px #c0c0c0;
		-webkit-box-shadow: 2px 2px 5px 2px #c0c0c0;
		-o-box-shadow: 2px 2px 5px 2px #c0c0c0;
		box-shadow: 2px 2px 5px 2px #c0c0c0;
		filter:progid:DXImageTransform.Microsoft.Shadow(color=#c0c0c0, Direction=134, Strength=5);
	}
	
	.left-button p
	{
		line-height: 150px;
		text-align : center;
	}
	
	.container_principale
	{
		padding-left : 175px;
		background-color : #9D9C99;
		width : 100%;
		height : 900px;
	}
	
	.chemin
	{
		margin-left : 1%;
		padding-top : 1%;
		font-size : 1.2em;
		color: white;
		margin-bottom : 5%;
	}
	.module
	{
		text-align : center;
		color : white;
		font-family : Comic Sans MS;
		font-size : 1.2em;
	}
	
	.action
	{
		width : 80%;
		margin-right : 10%;
		margin-left : 10%;
		height: 600px;
		border : Solid Black 1px;
	}
	
	.liens, .liens:hover, .liens:visited, .liens:link
	{
		text-decoration:none;
		color: White;
		font-size : 1em;
		font-family : Comic Sans MS;
	}
	
	.particulier
	{
		
	}
}

/* fin du style pour un ecran de base */