/* Feuille de style de la vue principale ( vue qui sera sur toutes les pages du site)*/

@media screen and (max-width : 1980px) and (min-width : 1000px) and (min-height : 200px) and (max-height : 1080px)
{
	html, body
	{
		width : 100%;
	}
	.header
	{
		margin-left : 0%;
		height : 166px;
		width : 100%;
		background-color : #D0CEC9;
	}

	.content, .notifs
	{
		
		width : 33.3%;
		float : left;
		text-align : center;
		height: 100%;
	}
	
	.notifs p, .content p
	{
		font-family : Comic Sans MS ;
		font-size : 1.3em;
		color : White;
		margin-top : 0px;
		width : 100%;
		text-align : center;
	}
	
	.notifs p
	{
		line-height: 148px;
	}
	
	
	.logo
	{
		margin-left : 0%;
		padding-left : 15px;
		float : left;
		width : 33.3%;
		height : 100%;
	}
	
	
	.logo img
	{
		height : 100%;
	}
	
	.connexion
	{
		line-height: 148px;
		text-align:center;
	}
	
	.connexion span
	{
		width: 500px;
		display : inline-block;
		vertical-align : middle;
		line-height:normal;
		text-align : center;
	}
	
	
	.left-container
	{
		background-color : #F2893C;
		text-align : center;
		width : 175px;
		height: 900px;
		float : left;
	}
	
	.left-button
	{
		margin-top : 20%;
		font-size : 1.2em;
		font-family : Arial;
		width : 160px;
		height : 160px;
		background-color : #9D9C99;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		border-radius: 50%;
		border : none;
		color : #fff;
		margin-left : 7.5px;
		margin-right : 7.5px;
	}
	
	.left-button:hover
	{	
		margin-top : 20%;
		font-size : 1.3em;
		font-family : Arial;
		width : 165px;
		height : 165px;
		background-color : #9D9C99;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		border-radius: 50%;
		border : none;
		color : #fff;
		margin-left : 5px;
		margin-right : 5px;
		-moz-box-shadow: 2px 2px 5px 2px #c0c0c0;
		-webkit-box-shadow: 2px 2px 5px 2px #c0c0c0;
		-o-box-shadow: 2px 2px 5px 2px #c0c0c0;
		box-shadow: 2px 2px 5px 2px #c0c0c0;
		filter:progid:DXImageTransform.Microsoft.Shadow(color=#c0c0c0, Direction=134, Strength=5);
	}
	
	.left-button p
	{
		line-height: 150px;
		text-align : center;
	}
	
	.btn-client, .btn-production, .btn-fournisseur, .btn-stock
	{
		background-color : #9D9C99;
		margin-top : 20%;
		font-size : 1.2em;
		font-family : Comic Sans MS;
		width : 120px;
		margin-left : 25px;
		margin-right: 25px;
		height : 120px;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		border-radius: 50%;
		border : none;
		color : #fff;
		-moz-box-shadow: 1px 1px 4px 1px #c0c0c0;
		-webkit-box-shadow: 1px 1px 4px 1px #c0c0c0;
		box-shadow: inset 0 0 0 4px #c0c0c0;
	}
	.btn-client:hover, .btn-production:hover, .btn-fournisseur:hover, .btn-stock:hover
	{
		height : 120px;
		font-size : 1.3em;
		-webkit-border-radius: 40%;
		-moz-border-radius: 40%;
		border-radius: 40%;
		background-color : #8d8c89;
		transform: scale(1.2);
		-ms-transform: scale(1.2);
		-webkit-transform: scale(1.2);
		-o-transform: scale(1.2);
		-moz-transform: scale(1.2);
	}
	
	.btn-client p, .btn-production p, .btn-fournisseur p , .btn-stock p
	{
		line-height: 120px;
		vertical-align: center;
	}
	
	.img-l
	{
		margin-top: 20%	
	}
	
	.container_principale
	{
		padding-left : 175px;
		background-color : #9D9C99;
		width : 100%;
		height : 900px;
	}
	
	.chemin
	{
		margin-left : 1%;
		padding-top : 1%;
		font-size : 1.2em;
		color: white;
		margin-bottom : 5%;
	}
	.module
	{
		text-align : center;
		color : white;
		font-family : Comic Sans MS;
		font-size : 1.2em;
	}
	
	.action
	{
		width : 80%;
		margin-right : 10%;
		margin-left : 10%;
		height: 600px;
	}
	
	.liens, .liens:hover, .liens:visited, .liens:link
	{
		text-decoration:none;
		color: Black;
		font-size : 1em;
		font-family : Comic Sans MS;
	}
	
	.particulier
	{
		
	}

	.cust_butt
	{
		width: 100%;
		height: 33.3%;
		opacity: 0.5;
		font-family: Comic Sans MS;
		font-size: 2em;
		background-color: #E8E8E8;
	}
	
	.cust_butt_stocks
	{
		width: 100%;
		height: 50%;
		opacity: 0.5;
		font-family: Comic Sans MS;
		font-size: 2em;
		background-color: #E8E8E8;
	}
	
	.cust_butt a, .cust_butt_stocks a
	{
		color: black;
	}

	.cust_butt:hover, .cust_butt_stocks:hover
	{
		opacity: 0.25;
		background-color: #D0C5C0;
		color: black;

	}

	#button_container
	{
		height: 600px;
	}
	
	.btn-config
	{
		margin-top : 15%;
	}
	
	.btn-config:hover
	{
		margin-top : 15%;
		transform: scale(1.05);
		-ms-transform: scale(1.05);
		-webkit-transform: scale(1.05);
		-o-transform: scale(1.05);
		-moz-transform: scale(1.05);
	}
	
	.fournisseurs
	{
		text-align : center;
		font-family : Comic Sans MS;
		font-size : 1.2em;
		font: bold;
		color : White;
	}
	
	.fournisseurs table tr td
	{
		width : 300px;
	}
	
	#fos_user_registration_form
	{
		margin-top : 3%;
		margin-left : 30%;
		margin-right: 30%;
		padding-left : 5%;
		font-size : 1.2em;
		font-family : Comic Sans MS;
		padding-top : 3%;
		padding-bottom: 3%;
		-webkit-border-radius: 15px;
		-moz-border-radius: 15px;
		border-radius: 15px;
		-moz-box-shadow: 0px 0px 3px 3px #E8E6E2;
	-webkit-box-shadow: 0px 0px 3px 3px #E8E6E2;
	-o-box-shadow: 0px 0px 3px 3px #E8E6E2;
	box-shadow: 0px 0px 3px 3px #E8E6E2;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#E8E6E2, Direction=NaN, Strength=3);
	}
	
	#fos_user_registration_form label
	{
		width : 160px;
		display : block;
		float : left;
	}
	
	#fos_user_registration_form button
	{
		margin-top : 3%;
	}
	
	.infos
	{
		text-align : center;
	}

	.infos table
	{
		margin-left : 2%;
		margin-top : 5%;
		width : 100%;
		text-align : center;
	}
	.infos table td,.infos table th
	{
		text-align : center;
		padding-right: 3%;
		padding-top : 2%;
	}
	#maps
	{
		width : 100%;
		height : 20%;
	}
	
	#tableinfos
	{
		font-family : Comic Sans MS;
		font-size : 1.2em;
		text-align: center;
	}
	.qcd
	{
		color : white;
		font-family: Comic Sans MS;
	}
	
	.contact
	{
		text-align : center;
		font-family : Comic Sans MS;
	}
	
	.contact p
	{
		margin-top  :3%;
		font-size : 1.2em;
	}
	
	#adresse
	{
		color : White;
		font-style : italic;
		font-size : 1.2em;
		margin-top : 3%;
		background-color : rgba(255,216,178,0.3);
		margin-left : 40%;
		margin-right:40%;
	}
	
	#mail form div div label
	{
		width : 150px;
		display:block;
		float : left;
	}
	
	.carousel-inner span
	{
		color : rgba(242,137,61,0.7);
	}
	
	
	.lancerProd th, .lancerProd td, .superviser th, .superviser td
	{
		text-align : center;
		width : 250px;
		padding-left : 5%;
	}
	
	.lancerProd button, .valid button
	{
		margin-top : 10%;
		width : 80%;
		height : 60px;
	}
	
	.lancerProd, .superviser
	{
		background-color : rgba(242,137,61,0.7);
		font-family : Comic Sans MS;
		width : 100%;
		margin-top : 3%;
	}
}