{# Vue qui correspond au module Client #}

{% extends 'ROGERPlastProdBundle:PlastProd:index.html.twig' %}

{% block title %}
<title>Client - PlastProd </title>
{% endblock %}

{% block actions %}
<div id="button_container">
	<a class = "liens" href = "{{ path('roger_plast_prod_client_infos') }}"><button class = "cust_butt"><p>Visualiser les infos de l'entreprise</p></button></a>
	<a class = "liens" href = "{{ path('roger_plast_prod_client_communique')}}"><button class = "cust_butt"><p>Communiquer avec l'entreprise</p></button></a>
	<a class = "liens" href = "{{ path('roger_plast_prod_client_suivi')}}"><button class = "cust_butt"><p>Suivre une commande</p></button></a>
</div>
{% endblock %}