{# Vue de formulaire de contact avec l'entreprise pour le client #}

{% extends 'ROGERPlastProdBundle:PlastProd:index.html.twig' %}

{% block title %}
<title>Infos - PlastProd </title>
{% endblock %}

{% block actions %}
<div class = "contact">
<p>VOUS VOULEZ NOUS CONTACTEZ POUR QUOI HEIN ? DITES LE NOUS MAINTENANT NON MAIS BANDE DE TARD</p>
</div>
{% endblock %}