{# Vue pour les infos de l'entreprise qu'on affiche au client #}

{% extends 'ROGERPlastProdBundle:PlastProd:index.html.twig' %}

{% block title %}
<title>Infos - PlastProd </title>
{% endblock %}

{% block actions %}
<div class = "infos">
<p>Notre entreprise se situe machine LBLBALBLABLALLB</p>
</div>
{% endblock %}