{# Vue pour les infos de l'entreprise qu'on affiche au client #}

{% extends 'ROGERPlastProdBundle:PlastProd:index.html.twig' %}

{% block title %}
<title>Infos - PlastProd </title>
{% endblock %}

{% block actions %}
<div class = "infos">
<h3>PlastProd</h3>

	<div>
		<iframe id ="maps" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2655.139772480909!2d6.94775209999999!3d48.28092680000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4793eea64d58ade9%3A0xacff9c9dd87d4b78!2s15+Rue+du+Petit+Saint-Di%C3%A9%2C+88100+Saint-Di%C3%A9-des-Vosges!5e0!3m2!1sfr!2sfr!4v1425912897127" width="600" height="450" frameborder="0" style="border:0"></iframe>
	</div>
	<table id ="tableinfos">
		<thead>
			<th>Quelle pièces fabriquons nous ? </th>
			<th>Quels sont les délais ?</th>
			<th>Avec quel qualité ? </th>
			<th>Quels sont les coûts ? </th>
		</thead>
		<tbody>
			<tr>
				<td class="qcd"><p>Nous fabriquons des pièces en plastiques depuis plus de 100 ans. <br /> Nous nous sommes intégrés comme des maitres <br /> dans le domaine avec des idées innovantes en permanence.</p></td>
				<td class="qcd"><p>Nous avons le plaisir de pouvoir assuré un service continu et une expédition<br /> en moins d'une semaine à partir de la commande. <br /> Notre expérience nous a permis de développé un  <br /> processus efficace   que vous ne trouverez nul part ailleurs.</p></td>
				<td class="qcd"><p>Nos produits sont d'une qualité exceptionnelle. <br /> Encore une fois de part notre expérience nous pouvons affirmé <br /> que nous avons les meilleurs finitions pour vos pièces plastiques</p></td>
				<td class="qcd"><p>Nous essayons au maximum de fournir un produit de qualité <br /> à un prix raisonnable et c'est pour cela que nous vous <br /> conseillons de vous tourner vers nous.</p></td>
			</tr>
		</tbody>
	</table>
</div>
{% endblock %}