{# Vue du suivi de commande Client #}

{% extends 'ROGERPlastProdBundle:PlastProd:index.html.twig' %}

{% block title %}
<title>Client - Suivi - PlastProd </title>
{% endblock %}

{% block actions %}
{% endblock %}