{# Vue de visualisation des étiquettes #}

{% extends 'ROGERPlastProdBundle:PlastProd:index.html.twig' %}
{% block title %}
<title>Production - Etiquettes - PlastProd </title>
{% endblock %}

{% block actions %}
<div class ="lancement">
<p> On affichera ici la page des étiquettes</p>
</div>
{% endblock %}