{# Vue de lancement de production #}

{% extends 'ROGERPlastProdBundle:PlastProd:index.html.twig' %}
{% block title %}
<title>Production - Lancement - PlastProd </title>
{% endblock %}

{% block actions %}

<table>
	<thead>
		<th>Id de la commande</th>
		<th>Date de la commande</th>
		<th>Lancer la production</th>
	</thead>
	<tbody>
		{% for commande in commandes %}
		<tr>
			<td>{{ commande.id }}</td>
			<td>{{ commande.dateCommande | date('d/m/y') }} </td>
			<td></td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}