{# Vue de lancement de production #}

{% extends 'ROGERPlastProdBundle:PlastProd:index.html.twig' %}
{% block title %}
<title>Production - Lancement - PlastProd </title>
{% endblock %}

{% block actions %}
<div class ="lancement">
<p> On affichera ici la page de  lancement de production</p>
</div>
{% endblock %}