{# Vue qui correspond au module Prod #}

{% extends 'ROGERPlastProdBundle:PlastProd:index.html.twig' %}
{% block title %}
<title>Production - PlastProd </title>
{% endblock %}

{% block actions %}
	<a class = "liens" href = "{{ path('roger_plast_prod_production_lancement') }}"><button class="cust_butt_stocks"><p>Visualisation des bons de commandes</p></button></a>
	<a class = "liens" href = "{{ path('roger_plast_prod_production_superviser')}}"><button class="cust_butt_stocks"><p>Supervision de la production</p></button></a>
{% endblock %}