{# Vue qui correspond à la page d'affichage des Produits déféctueux  #}

{% extends 'ROGERPlastProdBundle:PlastProd:index.html.twig' %}
{% block title %}
<title>Production - Produits déféctueux -  PlastProd </title>
{% endblock %}

{% block actions %}
<div>
	<p>Ici on affichera tout ce qui est Produits défaillants.</p>
</div>
{% endblock %}