{# Vue qui correspond au module Prod #}

{% extends 'ROGERPlastProdBundle:PlastProd:index.html.twig' %}
{% block title %}
<title>Production - PlastProd </title>
{% endblock %}

{% block actions %}
	<a class = "liens" href = "{{ path('roger_plast_prod_production_lancement') }}"><button class="cust_butt"><p>Lancement de production ( BDC Obligatoire).</p></button></a>
	<a class = "liens" href = "{{ path('roger_plast_prod_production_etiquette')}}"><button class="cust_butt"><p>Visualisation des étiquettes.</p></button></a>
	<a class = "liens" href = "{{ path('roger_plast_prod_production_jeter')}}"><button class="cust_butt"><p>Visualisation des produits déféctueux.</p></button></a>
{% endblock %}