{# Vue qui correspond au module Prod #}

{% extends 'ROGERPlastProdBundle:PlastProd:index.html.twig' %}
{% block title %}
<title>Production - Superviser - PlastProd </title>
{% endblock %}

{% block actions %}
	<a class = "liens" href = "{{ path('roger_plast_prod_production_etiquette') }}"><button class="cust_butt_stocks"><p>Editions des étiquettes</p></button></a>
	<a class = "liens" href = "{{ path('roger_plast_prod_production_jeter')}}"><button class="cust_butt_stocks"><p>Editions des bons à jeter</p></button></a>
{% endblock %}