{# Vue qui correspond au module Stocks, Partie expedition #}

{% extends 'ROGERPlastProdBundle:PlastProd:index.html.twig' %}

{% block title %}
<title>Stocks - Expedition - PlastProd </title>
{% endblock %}

{% block actions %}
<p>Traitement des expeditions</p>
{% endblock %}