{# Vue qui correspond au module stocks, Partie Gestion des matieres premieres #}

{% extends 'ROGERPlastProdBundle:PlastProd:index.html.twig' %}

{% block title %}
<title>Stocks - Gestion des Matieres Premieres - PlastProd </title>
{% endblock %}

{% block actions %}
<a class="liens" href = "{{ path('roger_plast_prod_fournisseurs')}}"><button class ="cust_butt_stocks"><p>Réapprovisionnement</p></button></a>
<a class="liens" href = "{{ path('roger_plast_prod_stocks_MP_Inventaire')}}"><button class ="cust_butt_stocks"><p>Inventaire</p></button></a>
{% endblock %}