{# Vue qui correspond au module Stocks, Partie inventaire des matieres premieres #}

{% extends 'ROGERPlastProdBundle:PlastProd:index.html.twig' %}

{% block title %}
<title>Stocks - Inventaire - PlastProd </title>
{% endblock %}

{% block actions %}
<p> Inventaire des matieres premieres </p>
{% endblock %}