{# Vue qui correspond au module Panneau de config, partie Ajout d'un utilisateur #}

{% extends 'ROGERPlastProdBundle:PlastProd:index.html.twig' %}

{% block title %}
<title>Stocks - Gestion des matieres premieres - PlastProd </title>
{% endblock %}

{% block actions %}
{{ form(form)}}
{% endblock %}