{# Vue qui correspond au module Panneau de config, partie Ajout d'un utilisateur #}

{% extends 'ROGERPlastProdBundle:PlastProd:index.html.twig' %}

{% block title %}
<title>Stocks - Gestion des nomenclatures -  PlastProd </title>
{% endblock %}

{% block actions %}

{{ form_start(form) }}
{{ form_label(form.commande,"Commande maggle") }}
{{ form_widget(form.commande) }}

{{ form_end(form) }}

{% endblock %}