{# Vue qui correspond au module Panneau de config, partie Ajout d'un utilisateur #}

{% extends 'ROGERPlastProdBundle:PlastProd:index.html.twig' %}

{% block title %}
<title>Stocks - Gestion des nomenclatures -  PlastProd </title>
{% endblock %}

{% block actions %}
<p>Use case 1</p>
{% endblock %}