{# Vue qui correspond au module Stocks, Partie reapprovisionnement en matieres premieres #}

{% extends 'ROGERPlastProdBundle:PlastProd:index.html.twig' %}

{% block title %}
<title>Stocks - Reapprovisionnement - PlastProd </title>
{% endblock %}

{% block actions %}
<p> Partie reapprovisionnement </p>
{% endblock %}