{# Vue qui correspond au module Stocks, partie Stockage et reception #}

{% extends 'ROGERPlastProdBundle:PlastProd:index.html.twig' %}

{% block title %}
<title>Stocks - Stockage et Reception - PlastProd </title>
{% endblock %}

{% block actions %}
<p>Stockage</p>
{% endblock %}