{# Vue qui correspond au module Fournisseurs #}

{% extends 'ROGERPlastProdBundle:PlastProd:index.html.twig' %}

{% block title %}
<title>Fournisseurs - PlastProd </title>
{% endblock %}

{% block actions %}
<div>
<p>fournisseur</p>
</div>
{% endblock %}