{# Vue qui correspond au module Fournisseurs #}

{% extends 'ROGERPlastProdBundle:PlastProd:index.html.twig' %}

{% block title %}
<title>Fournisseurs - PlastProd </title>
{% endblock %}

{% block actions %}
<div class="fournisseurs">
	<table>
		<thead>
			<th>Nom</th>
			<th>Adresse</th>
			<th>Numéro de téléphone</th>
			<th>Représentant de l'entreprise</th>
		</thead>
		{% for fournisseur in fournisseurs %}
		<tr>
			<td>{{ fournisseur.nom }}</td>
			<td>{{ fournisseur.adresse }}</td>
			<td>{{ fournisseur.numero }}</td>
			<td>{{ fournisseur.representant }}</td>
		</tr>
		{% endfor %}

	</table>
</div>

{% endblock %}