{# Cette vue étends du layout principale, c'est elle qui permet d'afficher tout ce qui est dans le cadre gris entre le header et le menu a gaauche #}

{% extends '::layout.html.twig' %}

{% block title %}
<title>Accueil  - {{ parent()}}</title>
{% endblock %}

{% block body %}
<div class = "container_principale">
	<div class = "chemin">
		<p>{{ app.request.pathInfo}}</p>
	</div>
	
	<div class = "module">
	{% if module is defined %}
	<p> {{ module }}</p>
	{% endif %}
	</div>
	
	<div class = "action">
	{% block actions %}
	<table class='table_accueil'>
		<thead>
			<th> La Société </th>
			<th> Nos Valeurs </th>
			<th> Nos Objectifs </th>
		</thead>
		<tbody>
		<tr>
			<td>arem ipsonum ilem ariii yolo retam nuti aliter artzzr plreie arem ipsonum ilem ariii yolo retam nuti aliter artzzr plreie arem ipsonum ilem ariii yolo retam nuti aliter artzzr plreie arem ipsonum ilem ariii yolo retam nuti aliter artzzr plreie</td>
			<td>arem ipsonum ilem ariii yolo retam nuti aliter artzzr plreie arem ipsonum ilem ariii yolo retam nuti aliter artzzr plreie arem ipsonum ilem ariii yolo retam nuti aliter artzzr plreie arem ipsonum ilem ariii yolo retam nuti aliter artzzr plreie</td>
			<td>arem ipsonum ilem ariii yolo retam nuti aliter artzzr plreie arem ipsonum ilem ariii yolo retam nuti aliter artzzr plreie arem ipsonum ilem ariii yolo retam nuti aliter artzzr plreie arem ipsonum ilem ariii yolo retam nuti aliter artzzr plreie</td>
		</tr>
		</tbody>
	</table>
	{% endblock %}
	</div>
</div>
{% endblock %}
